{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% include "dashboard.html.twig" %}

            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Welcome back xxxx</h1>
                    </div>
                    <div class='card-body'>
                        <p>Your account type is: xxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}








