
/* ---------------------------------------------------------- */
/* ------------------------ RESET --------------------------- */
/* ---------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  margin: 0!important;
  padding: 0!important;
  list-style-type: auto;
}
/*
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  opacity: 1!important;
}

mark {
  background: white!important;
}

#scrollUp {
  position: fixed;
  bottom : 10px;
  right: -100px;
  opacity: 0.8;
  z-index: 8;
}

#scrollUp img {
  width: 50px;
}

/* ---------------------------------------------------------- */
/* ----------------------- GLOBAL --------------------------- */
/* ---------------------------------------------------------- */
/* Balises et class appelés à plusieurs endroits dans la page */
* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Barlow Condensed', sans-serif;
  /*font-size: 10px;*/
  /*font-size: 62.5%;*/
  min-height: 500px;
  overflow-x: hidden;
}

html {
  --scrollbarBG: #495057ff;
  --thumbBG: white;
}

body::-webkit-scrollbar {
  width: 15px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 1px;
  border: 4px solid var(--scrollbarBG);
}




/* ---------------------------------------------------------- */
/* ---------------------- TAB VERSION ----------------------- */
/* ---------------------------------------------------------- */

@media only screen and (min-width: 568px) {}

/* ---------------------------------------------------------- */
/* --------------------- TAB 2 VERSION ---------------------- */
/* ---------------------------------------------------------- */

@media only screen and (min-width: 768px) {}


/* ---------------------------------------------------------- */
/* -------------------- Mini PC VERSION --------------------- */
/* ---------------------------------------------------------- */

@media only screen and (min-width: 992px) {}

/* ---------------------------------------------------------- */
/* ---------------------- PC VERSION ----------------------- */
/* ---------------------------------------------------------- */

@media only screen and (min-width: 1200px) {}