<footer>

    <div class="foot-logo">
        <img src="{{ asset('assets/img/banner.png') }}" class="foot-logo-pub" alt="app logo" />
    </div>
    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5>À propos</h5>
                    <p class="site-footer-p">360BudgetBuddy est une application crée par le groupe 11! C'est un service permettant de faciliter la gestion du budget d'un l'étudiant à l'EPSI</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h5>Liens</h5>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#presentation">Services</a></li>
                        <li><a href="#atouts">Atouts</a></li>
                        <li><a href="#fonctionnement">Fonctionnement</a></li>
                        <li><a href="#prix">Offres</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h5>Site Map</h5>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#apropos">À propos</a></li>
                        <li><a href="http://www.xxxxxxx.fr/contact/">Nous contacter</a></li>
                        <li><a href="http://www.xxxxxxx.fr/politique-de-confidentialite/">Politique de confidentialité</a></li>
                        <li><a href="http://www.xxxxxxx.fr/mentions-legales/">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <ul class="social-icons list-unstyled">
                        <li><a class="linkedin" href="https://fr.linkedin.com/company/xxxxxxx" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="facebook" href="https://facebook.com/company/xxxxxxx" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center pb-3">
                <p class="copyright-text">Copyright &copy; 2022 Tous droits réservés </p>
            </div>
        </div>
    </div>

</footer>